{% extends "pages/abstract/fk-base.html.twig" %}
{% block page_title %}Rules of Last Man Standing
{% endblock %}
{% block meta_seo %}
<meta name="description" content="How to Play Last Man Standing - Rules. Last Man Standing is an easy and fun way to compete with your friends on a weekly basis without the season-long commitment.">
<meta name="keywords" content="football knockout, last man standing, last one standing, survivor, premier league">
<meta name="robots" content="follow, index">
<link rel="canonical" href="https://football-knockout.co.uk/rules">
{% endblock %}
{% block content %}


	<section class="mx-auto w-full ">
		
		<div class="justify-between mx-2 sm:mx-auto max-w-7xl mt-12 space-y-6 px-5 lg:px-0 ">
			<h1 class="text-xl md:text-3xl text-[#341E36] py-1" style="font-family: 'MangueiraHeavy';">Rules of Last Man Standing</h1>
			<div class="mx-auto py-4 bg-[#624B6E] text-sm ld:text-base text-white px-4 rounded border border-[#2D171D] flex justify-around items-center"><p>Welcome to Football Knockout! The premier place to host your football Last Man Standing game</p><button class="px-4 py-2 rounded-md border border-[#fff] text-[#331E36] bg-white text-sm font-semibold uppercase tracking-wider">Get started now</button></div>
			<h2 class="text-lg md:text-2xl text-[#341E36] mt-4 py-1" style="font-family: 'Mangueira';">How to play Last Man Standing, Survivor and Last One Standing on Football Knockout</h2>
			<p>Last Man Standing, Last One Standing, Survivor is easy to play. Simply pick one team from the Premier League to win their match each game week. If your team wins, you're through to the next gameweek. If your team doesn't win then you're knocked out. Repeat each gameweek until there's one Last Man Standing!</p>
			
			<ul class=" list-disc space-y-5 list-inside tracking-wide text-gray-700" >
				<li>You must make a pick each gameweek, if you do not make a pick by the deadline then you will be assigned a 'no pick' and will be knocked out.</li>
				<li>If the team you picked wins their match, you will be progressed through to the next gameweek. If the team you picked does not win (draws or loses) then you will be knocked out and cannot play until the League Administrator creates a new Round.</li>
				<li>You may not pick the same team again until you have picked all 20 teams and have not been knocked out of the current round.</li>
				<li>You may change your pick up until the deadline of the current game week.</li>
				<li>If one person is left in the Round and all others are knocked out at the end of the gameweek, that person is the winner of that Round. The League Administrator will then be able to create a new Round and everybody is back in to play.</li>
				<li>If nobody is left in the Round (everybody is knocked out), then the current Round does not have a winner. The League Administrator will then be able to create a new Round and everybody is back in to play.</li>
				<li>If a match is not completed e.g. it is abandonned during play, the scoreline at time of abandonment will be used as the result.</li>
				<li>If a match is abandonned before play but after the deadline, your pick will be deemed a win and you will be through to the next gameweek.</li>
				<li>If a Round is not completed by the end of the football season, the round will be ended without a winner.</li>
				<li>Gameweek fixtures are set by Football Knockout and may not reflect every match in the Premier League gameweek. In the case of double gameweeks or international weekends where there are fewer fixtures, the gameweek may run for multiple weeks.</li>
				<li>Once the first deadline of a game week has been passed, nobody can join the League. Entry to the league will open again when the Round ends and is reset.</li>
			</ul>

			<div class="mx-auto py-4 bg-[#624B6E] text-white px-4 text-sm lg:text-base rounded border border-[#2D171D] flex justify-around items-center"><p>Now you know how to play Last Man Standing, you're ready to play!</p><button class="px-4 py-2 rounded-md border border-[#fff] text-[#331E36] bg-white text-sm font-semibold uppercase tracking-wider">Get started now</button></div>
		</div>
	</section>
{% endblock %}
{% block scripts_page %}{% endblock %}
