


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Mangueira;
        font-weight: 400;
        src: url('/assets-raw/brand/fonts/MangueiraRegular/font.woff') format("woff");
    }
    @font-face {
        font-family: MangueiraHeavy;
        font-weight: 900;
        src: url('/assets-raw/brand/fonts/MangueiraHeavy/font.woff') format("woff");
    }
    @font-face {
        font-family: MangueiraSemiBold;
        font-weight: 500;
        src: url('/assets-raw/brand/fonts/MangueiraSemiBold/font.woff') format("woff");
    }
    @font-face {
        font-family: Geist;
        src: url('/assets-raw/brand/fonts/Geist-Regular.otf') format("opentype");
    }
    @font-face {
        font-family: GeistLight;
        src: url('/assets-raw/brand/fonts/Geist-UltraLight.otf') format("opentype");
    }
}